div{
    background-color: crimson;
    color: white;
    margin: 1px;
    text-align: center; 
}

.wrapper1{
    display: grid;
    grid-template-columns: 50px;
    /* To make all rows 50px */
    grid-auto-rows: 50px;
}

.wrapper2{
    display: grid;
    grid-template-columns: 50px;
    /* To make all rows 50px 75px */
    grid-auto-rows: 50px 75px;
}

.wrapper3{
    display: grid;
    /* To make 2 columns of 50px and 1fr, 2 rows of 70px and 100px , and remaining rows of 30px */
    grid-template-columns: 50px 1fr;
    grid-template-rows: 70px 100px;
    grid-auto-rows: 30px;
}

.wrapper4{
    display: grid;
    /* To make 2 columns of 50px and 1fr, to make all rows to have minimum size of 100 px
        and maximum of maximum content size */
    grid-template-columns: 50px 1fr;
    grid-auto-rows: minmax(30px,max-content);
}